{% extends '/base_layout/base.html' %}

<!-- Inheritance example -->

{% block content%}

<div class="row align-content-center">
    <div class="col-4">
    </div>
    <div class="col-4">
        <p></p>
        <h1 class="text-success text-center">Sensor configuration</h1>
        <form class="form-horizontal" method="POST" id="config" onSubmit="submitForm(event); validateForm(event, validateConfiguration)">
            <div class="form-group">
                <label for="shunt_resistor" class="form-label">Shunt resistor</label>
                <input type="text" class="form-control" placeholder="Enter shunt resistor value (Ω)" id="shunt_resistor" name="shunt_resistor" required>
            </div>
            <div class="form-group">
                <label for="max_current">Max measured current</label>
                <input type="text" class="form-control" placeholder="Enter max current (A)" id="max_current" name="max_current">   
            </div>
            <div class="form-group">
                <label for="max_voltage">Max measured voltage</label>
                <input type="text" class="form-control" placeholder="Enter max voltage 6 - 36V" id="max_voltage" name="max_voltage">   
            </div>

            <p id="validation_status"></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-4">
    </div>
    <p></p>
</div>

{% endblock%}